<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EnigmaCipherApp.Properties.Settings.EnigmaAppDBConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=EnigmaAppDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="EnigmaCipherApp.Properties.Settings.BassConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Bass;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>